body {
  background: rgb(13, 21, 36);
  font-family: cursive;
  color: whitesmoke;
  font-family: 'Fredericka the Great', cursive;
}

.poem-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15vh;
}

.poem {
  align-self: center;
  border-radius: 20px;
  padding: 25px 45px;
  font-size: 36px;
  height: 250px;

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style-type: none;

      &:first-child {
        padding-bottom: 10px;
      }
    }
  }
}

.nav {
  margin-top: 30px;

  a, button {
    font-family: 'Fredericka the Great', cursive;
    color: gold;
    font-size: 18px;
    text-decoration: none;
    padding: 5px 10px;
    margin: 5px;
    background: rgba(255,255,255,.1);
    border: dotted 1px white;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
  }

  a:hover, button:hover {
    color: lemonchiffon;
    background: rgba(5,5,5,.2);
  }
}